@import "tailwindcss";

/* Hide scrollbar but keep scroll behavior */
#saved-panel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#saved-panel {
  scrollbar-width: none;
  /* Firefox */
}


@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(12px); }
  100% { opacity: 1; transform: translateY(0); }
}
